language: node_js
node_js:
  - "0.10"

env:
  matrix:
    - JOB=smoke
    - JOB=suite
  global:
    - SAUCE_USERNAME=test
    - SAUCE_ACCESS_KEY=a07d8e74558a-cbcb-c5b4-c551-40e8aa65
    - LOGS_DIR=/tmp/protractor-build/logs
    - BROWSER_PROVIDER_READY_FILE=/tmp/sauce-connect-ready

before_script:
  - mkdir -p $LOGS_DIR
  - ./scripts/sauce_connect_setup.sh
  - ./scripts/wait_for_browser_provider.sh

script:
  - ./scripts/testserver.sh
  - ./scripts/testonsauce.sh

after_script:
  - ./scripts/print_logs.sh

after_failure:
  - ./scripts/wait.sh
